@tailwind base;
@tailwind components;
@tailwind utilities;

.dm-sans-<uniquifier> {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}